<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.partnerprogrammer.marshall-watchdog</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>$INSTANCE_DIR/extra-tools/host-watchdog/watchdog.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>120</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin</string>
        <key>MARSHALL_INSTANCE_DIR</key>
        <string>$INSTANCE_DIR</string>
    </dict>
    <key>StandardErrorPath</key>
    <string>$INSTANCE_DIR/logs/watchdog.error.log</string>
</dict>
</plist>
